.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Article-thumbnail {
  height: 400px;
}

.Article-thumbnail img {
  height: 50%;
  width: 100%;
}

.Article-thumbnail h4 {
  height: 10%;
}

.Article-thumbnail p {
  height: 40%;
}

.Article-thumbnail:hover {
  width: 410px;
}

.Category-thumbnail:hover {
  width: 450px;
}

.Row-style {
  margin: 20px;
}

footer {
  text-align: center;
}

h1 {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
